*{
    padding: 0;
    margin: 0;
}
.background_img{
    width:100%;
    padding-top: 50px;
}
.body{
    margin: 0;
}
.top_header{
    position: fixed;
    background-color:white;
    width: 100%;
}
.break{
    float: none;
    list-style: none;
}

.nav_firstlayer_list{
    padding: 0;
    margin: 0;
    font-family: verdana;
    padding-left: 150px;
}
.nav_firstlayer_item{
    list-style: none;
    float: left;
    text-align: center;
    position: relative;
}
.nav_firstlayer_link {
    color: black;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
}

.nav_firstlayer_link:hover{
    text-decoration: underline;
    background-color: #F8F8FF;
}

.nav_secondlayer_list {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    display: none;
    position: absolute;
    width: 150px;
    border-width: 0px 1px 1px 1px;
    border-color: black;
    border-style: solid;
}
.nav_secondlayer_item{
    float: none;
    padding: 8px 10px;
    text-align: center;
    border-top: 1px solid black;
}
.nav_secondlayer_link{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}

.nav_secondlayer_item:hover{
    background-color: #F8F8FF;
}
.nav_secondlayer_link:hover{
    text-decoration: underline;
}
.nav_firstlayer_item:hover .nav_secondlayer_list{
    display: block;
    color: black;
}

.nav_thirdlayer_list{
    list-style: none;
    background: white;
    display: none;
    position:absolute;
    left: 100%;
    top: 0;
    width: 150px;
    border-width: 0px 1px 1px 1px;
    border-color: black;
    border-style: solid;
}
.nav_thirdlayer_item{
    padding: 10px 15px;
    text-align: center;
        border-top: 1px solid black;
}
.nav_thirdlayer_link{
    color:black;
    text-decoration: none;
    padding: 10px 15px;
}

.nav_thirdlayer_item:hover{
    background-color: #F8F8FF;
}
.nav_thirdlayer_link:hover{
    text-decoration: underline;
}
.nav_secondlayer_item:hover .nav_thirdlayer_list{
    display:block;
    color: black;
}
